@charset "utf-8";
.normal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	line-height: 17px;
}
.pad5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 17px;
	padding-top: 0px;
	padding-right: 40px;
	padding-bottom: 5px;
	padding-left: 40px;
}
a.linkfooter:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 17px;
	text-decoration: none;
}
a.linkfooter:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 17px;
	text-decoration: none;
}
a.linkfooter:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #33FF99;
	line-height: 17px;
	text-decoration: underline;
}
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCCCCC;
	line-height: 17px;
}
.khunghinh {
	padding: 3px;
}

.norlmail-bold-yellow {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFF00;
	line-height: 17px;
	font-weight: bold;
}
a.menuleft:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #D71828;
	line-height: 17px;
	font-weight: bold;
	text-decoration: none;
}
a.menuleft:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #D71828;
	line-height: 17px;
	font-weight: bold;
	text-decoration: none;
}
a.menuleft:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0066FF;
	line-height: 17px;
	font-weight: bold;
}

a.menuleft2:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 17px;
	font-weight: bold;
	text-decoration: none;
}
a.menuleft2:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 17px;
	font-weight: bold;
	text-decoration: none;
}
a.menuleft2:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFF00;
	line-height: 17px;
	font-weight: bold;
}
.gachduoitable {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #CC6666;
	border-right-color: #CC6666;
	border-bottom-color: #CC6666;
	border-left-color: #CC6666;
}


a.menuright:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	line-height: 17px;
	font-weight: bold;
	text-decoration: none;
}
a.menuright:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	line-height: 17px;
	font-weight: bold;
	text-decoration: none;
}
a.menuright:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F67C1A;
	line-height: 17px;
	font-weight: bold;
	text-decoration: underline;
}
.pad5-dongkhung {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 17px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #990000;
	border-right-color: #990000;
	border-bottom-color: #990000;
	border-left-color: #990000;
	border-top-width: 0px;
}
a.link2detail:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #D71627;
	line-height: 17px;
	font-weight: bold;
	text-decoration: none;
}
a.link2detail:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #D91829;
	line-height: 17px;
	font-weight: bold;
	text-decoration: none;
}
a.link2detail:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3366FF;
	line-height: 17px;
	font-weight: bold;
	text-decoration: none;
}
.titlepage {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #D91626;
	font-weight: bold;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 3px;
}
.form {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: 17px;
	background-color: #FFFFCC;
	border: 1px solid #005595;
	padding: 5px;
}
.titlename {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FA8C2B;
	font-weight: bold;
}
.norlmail-bold-blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	line-height: 17px;
	font-weight: bold;
}
.pad-tintuc {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	line-height: 17px;
	font-weight: bold;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.normal-black {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: 17px;
}
.duongvien {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 17px;
	border: 1px solid #26CBFB;
}
a.linktintuc:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: 17px;
	text-decoration: none;
}
a.linktintuc:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: 17px;
	text-decoration: none;
}
a.linktintuc:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	line-height: 17px;
	text-decoration: underline;
}
a.linktuvan:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 17px;
	text-decoration: none;
}
a.linktuvan:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 17px;
	text-decoration: none;
}
a.linktuvan:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 17px;
	text-decoration: underline;
}


.pagenumstatic {
	BORDER-RIGHT: #D6E7EF 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #D6E7EF 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: #D6E7EF 1px solid; WIDTH: 1em; COLOR: #CCCCCC; PADDING-TOP: 1px; BORDER-BOTTOM: #D6E7EF 1px solid; BACKGROUND-COLOR: #E4E4E4; TEXT-DECORATION: none
}
.pagenumnolink {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 1px;
	MARGIN: 0px;
	WIDTH: 1em;
	COLOR: #CCCCCC;
	PADDING-TOP: 1px;
	BACKGROUND-COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	border: 1px solid #CCCCCC;
}
.pagenum A:link {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 1px;
	MARGIN: 0px;
	WIDTH: 1em;
	COLOR: #666666;
	PADDING-TOP: 1px;
	BACKGROUND-COLOR: #CCCCCC;
	TEXT-DECORATION: none;
	border: 1px solid #CCCCCC;
}
.pagenum A:visited {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 1px;
	MARGIN: 0px;
	WIDTH: 1em;
	COLOR: #666666;
	PADDING-TOP: 1px;
	BACKGROUND-COLOR: #CCCCCC;
	TEXT-DECORATION: none;
	border: 1px solid #CCCCCC;
}
.pagenum A:active {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 1px;
	MARGIN: 0px;
	WIDTH: 1em;
	COLOR: #666666;
	PADDING-TOP: 1px;
	BACKGROUND-COLOR: #CCCCCC;
	TEXT-DECORATION: none;
	border: 1px solid #CCCCCC;
}
.pagenum A:hover {
	BORDER-RIGHT: #738294 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #738294 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: #738294 1px solid; WIDTH: 1em; COLOR: #CCCCCC; PADDING-TOP: 1px; BORDER-BOTTOM: #738294 1px solid; BACKGROUND-COLOR: #999999; TEXT-DECORATION: none
}

.ocontent {
	font-family:tahoma;
	font-size:11px;
	font-weight:bold;
	border-top:1px solid #003399;
	border-right:1px solid #003399;
	border-left:1px solid #003399;
	padding:4px;
	width:300px;
	background-color: #fdf8eF;
}
.obody {
	font-family:tahoma;
	font-size:11px;
	border-left:1px solid #003399;
	border-right:1px solid #003399;
	border-bottom:1px solid #003399;
	padding:4px;
	width:300px;
	background-color: #fdf8EF;
}.titlehome {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #F69F25;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #F69F25;
	border-right-color: #F69F25;
	border-bottom-color: #F69F25;
	border-left-color: #F69F25;
}
.pad5quangcao {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 17px;
	padding-bottom: 2px;
}
a.linkhome:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #006600;
	line-height: 17px;
	text-decoration: none;
	font-weight: bold;
}
a.linkhome:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #006600;
	line-height: 17px;
	text-decoration: none;
	font-weight: bold;
}
a.linkhome:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0054FF;
	line-height: 17px;
	text-decoration: underline;
	font-weight: bold;
}
.giatour {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 17px;
	font-weight: bold;
}
a.linktourhome:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF6600;
	line-height: 17px;
	font-weight: bold;
	text-decoration: none;
}
a.linktourhome:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF6600;
	line-height: 17px;
	font-weight: bold;
	text-decoration: none;
}
a.linktourhome:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0054FF;
	line-height: 17px;
	font-weight: bold;
	text-decoration: none;
}
.bold-underline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	line-height: 17px;
	font-weight: bold;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-bottom-style: solid;
	border-top-color: #993300;
	border-right-color: #993300;
	border-bottom-color: #993300;
	border-left-color: #993300;
}
.border {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	line-height: 17px;
	border: 1px solid #FFAA00;
}
